<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.dao.ResetPassMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.entitys.ResetPass" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="CHAR" />
    <result column="phoneNo" property="phoneNo" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, phoneNo
  </sql>
  
  
  <!-- 查看重置密码请求 -->
  <select id="querResetRequest" resultType="com.oracle.entitys.ResetPass">
  	select  <include refid="Base_Column_List" /> from resetpass
  </select>
  
  
  
  
  
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resetpass
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resetpass
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oracle.entitys.ResetPass" >
    insert into resetpass (id, username, phoneNo
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=CHAR}, #{phoneNo,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.entitys.ResetPass" >
    insert into resetpass
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="phoneNo != null" >
        phoneNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=CHAR},
      </if>
      <if test="phoneNo != null" >
        #{phoneNo,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.entitys.ResetPass" >
    update resetpass
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=CHAR},
      </if>
      <if test="phoneNo != null" >
        phoneNo = #{phoneNo,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.entitys.ResetPass" >
    update resetpass
    set username = #{username,jdbcType=CHAR},
      phoneNo = #{phoneNo,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>